{{#each this}}
<h3 class="country-name">{{name}}</h3>
<div class="main-container">
    <div class="country-container">
        <span>Capital:{{capital}}</span>
        <span>Population:{{Population}}</span>
        <span>Languages</span>
        <ul>
            {{#each languages}}
            <li>{{name}}</li>
            {{/each}}
        </ul>
    </div>
<div class="flag-container">
    <img class="flag-img" src='{{flag}}' alt="country-flag">
</div>
</div>
{{/each}}